h1 {
	text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#search {
	width: 22%;
	padding: 5px;
	
}

#search-box {
	padding-top: 2px;
	margin-top: 3px;
    margin-left: 1px;	

}

#map {
    height: 88%; 
    width: 75%;
    position: absolute;
    
}

#location-list {
	list-style: none;
}

li {
	list-style: none;
}