h1 {
	text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#search {
	width: 15%;
	padding-left: 10px;	
	
}


#map {
    height: 88%; 
    width: 80%;
    position: absolute;
    
}

.list-ui{
	list-style: none;

}

#filtertext {
	padding-left: 10px;
	border: solid 1px grey;
	width: 65%;

}

.listing {
	padding-left: 0;
}

.listing-item :hover {
	background-color: grey;
}

